.child-container {
    padding: 15px;
    border-radius: 8px;
    margin: 10px 0;
    border: 2px dashed #999;
    button {
      margin: 5px;
      padding: 5px 10px;
      cursor: pointer;
    }
    ul {
      margin: 5px 0;
      padding-left: 20px;
    }
  }
  